<!DOCTYPE html>
<html>
	<head>
		<title>Cashier | POS</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/cashierPanel.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>

		{{>cashierPanel}}

		<div class="content-container">
			<div class="menu-container">

				<div>
					<h1 class="pos-header">
						Menu Group
					</h1>	
				</div>

				

				<div class="category-box">
						{{#each menugroup}}
						<div>
							<form action="/viewPOS/{{menuGroupID}}" method="get">
							<input type="submit" value="{{menuGroupName}}" class="category-item">
							</form>
							
						</div>
						{{/each}}

					<div class="search-box">
						<form>
							<input type="text" placeholder="Search" name="search">
							<button type="submit"><i class="fa fa-search search-icon"></i></button>
						</form>
					</div>
				</div>

				<div>
					<h1 class="pos-header">
						Menu Items
					</h1>	
				</div>

				<div class="menu-box">
						{{#each Recipe}}
						<div>
							<button class="menuitem" id="{{recipeID}}" onclick="myFunction()"><span class="menu-text">{{recipeName}}</span><br><span class="price-text">{{price}}</span></button>
						</div>
						{{/each}}
				</div>
			</div>

			<div class="checkout-container">
				<span class="checkout-header">Checkout</span>
				<div class="checkout-box">
				<div class="checkout-content">
<<<<<<< Updated upstream
					<form action='#' method="post" class="checkout-content">
=======
					<form action='/submitPOS' method="post">
>>>>>>> Stashed changes
					<table class="checkout-table" id="CO-table">
						<thead>
						<tr>
							<th>Item Name</th>
							<th>Quantity</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<select name="recipe" id="recipe" class="dropdown">
									{{#each Recipe}}
									<option value="{{recipeID}}">{{recipeName}}</option>
									{{/each}}

								</select>
							</td>
							<td>
								
							<input type="number" class="textbox-short" id="quantity" value ="1" step="1" name="quantity"  min ="1">
							</td>
						</tr>
						</tbody>

					</table>
											<div class="add-row2">
							<div>
								<button id="btnNewRow" class="button-green-small popup">Add Ingredient Row</button>
							</div>
							<div>
								<button id="btnDelete" class="delete popup">Delete Last Ingredient Row</button>
							</div>
						</div>
					<div>
                        <input type="submit" class="button-green popup" value="Submit"/>
                    </div>
					</form>
				</div>


						<script>
    					$(document).ready(function() {
        					$('#btnNewRow').on('click', function(evt) {
            					evt.preventDefault();
            					$("#CO-table").find('tbody')
                					.append($('<tr><td><select name="recipe" id="recipe" class="dropdown">{{#each Recipe}}<option value="{{recipeID}}">{{recipeName}}</option>{{/each}}</select></td><td><input type="hidden" name="price" value="{{price}}"><input type="number" class="textbox-short" id="quantity" value ="1" name="quantity" step="1" min ="1"></td></tr>'))
        					});

							$('#btnDelete').on('click', function(evt) {
            					evt.preventDefault();
            					$("#CO-table tbody tr:last").remove();
        					});
							
    					});
						</script>

				{{!-- <button class="button-submit popup" onclick="myFunction()">Confirm
					<span class="popuptext" id="myPopup">Successful Transaction!</span>
				</button> 
				<script>
					// When the user clicks on <div>, open the popup
					function myFunction() {
				  	var popup = document.getElementById("myPopup");
				  	popup.classList.toggle("show"); 
					
					}
				</script>
				
						{{!-- <script>
    					$(document).ready(function(recipeID) {
        					$('#'+recipeID).on('click', function(evt) {
            					evt.preventDefault();
            					$("#CO-table").find('tbody')
                					.append($('<tr><td><i class="fa-solid fa-trash-can"></i>{{name}}</td><td><i class="fa-solid fa-circle-plus"></i>{{quantity}}<i class="fa-solid fa-circle-minus"></i></i></td><td>{{price}}</td></tr>'))
        					});			
    					});
						</script> --}}

			</div> 
		</div>
	</body>
</html>

