<!DOCTYPE html>
<html>
	<head>
		<title>Cashier | POS</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/cashierPanel.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		{{>cashierPanel}}

		<div class="content-container">
			<div class="menu-container">
				<div class="category-box">
						{{#each menugroup}}
						<div>
							<button class="category-item"><span class="category-text">{{menuGroupName}}</span></button>
						</div>
						{{/each}}

					<div class="search-box">
						<form>
							<input type="text" placeholder="Search" name="search">
							<button type="submit"><i class="fa fa-search search-icon"></i></button>
						</form>
					</div>
				</div>
				<div class="menu-box">
						{{#each Recipe}}
						<div>
							<button class="menuitem"><span class="menu-text">{{recipeName}}</span><br><span class="price-text">P100</span></button>
						</div>
						{{/each}}
				</div>
			</div>

			<div class="checkout-container">
				<span class="checkout-header">Checkout</span>
				<div class="checkout-box">
				<div class="checkout-content">
					<table class="checkout-table">
						<tr>
							<th>Item Name</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
						{{#each Item}}
						<tr>
							<td><i class="fa-solid fa-trash-can"></i>{{name}} </td>
							<td><i class="fa-solid fa-circle-plus"></i>{{quantity}}<i class="fa-solid fa-circle-minus"></i></i></td>
							<td>{{price}}</td>
						</tr>
						{{/each}}

					</table>
				</div>

					<div class="checkout-counter">
						<table class="summary-table">
							<tr>
								<th>Total</th>
								<td>{{totalprice}}</td>
							</tr>
						</table>
					</div>
				</div>

				<button class="button-submit popup" onclick="myFunction()">Confirm
					<span class="popuptext" id="myPopup">Successful Transaction!</span>
				</button>
				<script>
					// When the user clicks on <div>, open the popup
					function myFunction() {
				  	var popup = document.getElementById("myPopup");
				  	popup.classList.toggle("show");
					}
				</script>
			</div>
		</div>
	</body>
</html>

