<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Missing</title>
        <link rel="stylesheet" href="/css/missing.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="content-container">
{{>invManagerPanel}}

        <div class="page-container">
            <div>
                <h1 class="header-font">
                    Inventory Item Missing
                </h1>
            </div>

                <h3 class="categ-select"> Category Selected: <u>{{foodGroupName}}</u></h2>

            <div class="category-box">
                {{#each foodGroup}}
                <div>
                    <a href="/inventoryMissing/{{foodGroupID}}" class="category-item">
                        <span class="category-text">{{foodGroupName}}</span>
                    </a>
                </div>
                {{/each}}
            </div>
            <form action="/submitMissing/{{foodGroupID}}" method="post">
            <div class="inventory-container">
                <table class="inventory-table">
                    <col style="width:30%">
                    <col style="width:30%">
                    <col style="width:20%">
                  

                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Type</th>
                            <th>Physical Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Ingredient}}
                        <tr>
                            <td> {{categoryName}} <input type="hidden" name="categoryIDs" value={{categoryID}}></td>
                            <td> {{ingredientName}} <input type="hidden" name="ingredientIDs" value={{ingredientID}}></td>
                            <td><input type="number" name="physical" min="0" value="0">  </td> 
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="submit-button">
             <input type="submit" value="Submit Ingredients" class="button-green popup" />
            </div>
            </form>
        </div>

    </body>
</html>
