<!DOCTYPE html>
<html>
	<head>
        <title>Inventory Manager | Inventory Dashboard</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/invmanagerDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
        {{>invManagerPanel}}
		<!-- END SIDE PANEL -->

        <div class="content-container">
            <div class="containers">

               <!-- PROFILE GRID -->
               <div class="Profile">
                <div class="grid-content">
                    <h1> Employee Profile </h1>

                    
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-user prof-pic"></i>
                    </div>

                    <!-- NOTES: need to insert icons/images -->
                    <h2> {{Emp.firstName}} {{Emp.lastName}} </h2>
                    <p class="title"> Employee Name</p>

                    <h2> {{Emp.userType}} </h2>
                    <p class="title"> Position </p>

                    <h2> {{Emp.userID}} </h2>
                    <p class="title"> Employee ID </p>

                    <button class="prof-button" onclick="window.location='/changePassword';" > Change Password </button>

                </div>
            </div>
            <!-- END PROFILE GRID -->

            <!-- INVENTORY-LIST GRID -->
            <div class="Inventory-List">
                <div class="grid-content">
                    <h1 class="linked"> Inventory List </h1>
                    <!-- START INVENTORY-LIST TABLE
                            NOTES: should be sorted w/ low stock items at the top 
                            To follow guidelines for Reports-->

                        <p class="report-date"> As of: XX-XX-XX 00:00 PM/AM </p>


                        <table class="inventory-table">
                                <col style="width:20%">
                                <col style="width:20%">
                                <col style="width:10%">
                                <col style="width:10%">
            
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Food Group</th>
                                    <th>Running Total</th>
                                    <th>Unit</th>
                                </tr>
                                </thead>
                            <tbody>
                            {{#each Category}}
                            <tr>
                                <td> {{categoryName}} </td>
                                <td> {{foodGroupName}} </td>
                                <td> {{runningTotal}}</td>
                                <td> {{unitName}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>

                        <p class="report-end"> ----- END OF LIST -----</p>
                    <!-- END INVENTORY-LIST TABLE -->
                </div>
            </div>
            <!-- END INVENTORY LIST GRID -->

            <!-- INVENTORY COUNT GRID
                NOTES: INVENTORY COUNT displays the ingredients that
                are running low in quantity -->

            <div class="Inventory-Count">
                <div class="grid-content">
                    <h1> Low Category Count </h1>

                    <p class="report-date"> As of: XX-XX-XX 00:00 PM/AM </p>

                    <div class="inner-grid">
                        <div class="current-stock">
                            <h3> 24 </h3>
                            <p class="item">Chicken</p>
                        </div>

                        <div class="current-stock">
                            <h3> 25 </h3>
                            <p class="item">Milk</p>
                        </div>   
                        
                        <div class="current-stock">
                            <h3> 26 </h3>
                            <p class="item">Coke Sakto</p>
                        </div>  
                        
                        <div class="current-stock">
                            <h3> 27 </h3>
                            <p class="item">Pork</p>
                        </div>  
                        
                        <div class="current-stock">
                            <h3> 28 </h3>
                            <p class="item">Butter</p>
                        </div>    

                        <div class="current-stock">
                            <h3> 29 </h3>
                            <p class="item">Cheese</p>
                        </div>

                        <div class="current-stock">
                            <h3> 30 </h3>
                            <p class="item">It's</p>
                        </div>  

                        <div class="current-stock">
                            <h3> 31 </h3>
                            <p class="item">Me</p>
                        </div>

                        <div class="current-stock">
                            <h3> 32 </h3>
                            <p class="item">Hi</p>
                        </div>                 
                    </div>
                </div>
            </div>
             <!-- END INVENTORY COUNT GRID -->

            </div>

        </div>

	</body>
	</html>