<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/employeeDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
        {{>invManagerPanel}}
		<!-- END SIDE PANEL -->

        <div class="content-container">
            <div class="containers">

               <!-- PROFILE GRID -->
               <div class="Profile">
                <div class="grid-content">
                    <h1> Profile </h1>

                    
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-user prof-pic"></i>
                    </div>

                    <!-- NOTES: need to insert icons/images -->
                    <h2> {{firstName}} {{lastName}} </h2>
                    <p> Employee Name</p>

                    <h2> {{userType}} </h2>
                    <p> Position </p>

                    <h2> {{userID}} </h2>
                    <p> Employee ID </p>

                    <h2> {{dateToday}} </h2>
                    <p> Last Login </p>

                    <button class="prof-button"> Change Password </button>
                </div>
            </div>
            <!-- END PROFILE GRID -->

            <!-- INVENTORY-TRANSACTIONS GRID -->
            {{!-- <div class="Inventory-Transactions">
                <div class="grid-content">
                    <h1 class="linked"> Inventory Transaction Trail </h1>
                    <!-- START INVENTORY-TRANSACTIONS TABLE
                            NOTES: only displays most recent transactions(?) -->

                            <table>
                                <col style="width:10%">
                                <col style="width:15%">
                                <col style="width:15%">
                                <col style="width:20%">
                                <col style="width:10%">
            
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Receipt Number</th>
                                    <th>Item Name</th>
                                    <th>Quantity</th>
                                    <th> </th>
                                  </tr>
                                </thead>
						        {{#each transactions}}
					            <tr>
						            <td>{{buyDate}}</td>
						            <td>{{transactionID}}</td>
						            <td>{{ingredientName}}</td>
						            <td>{{quantity}}</td>
						            <td><button class="button-view">View</button></td>
					             </tr>
					            {{/each}}
                            </table>
                    <!-- END INVENTORY-TRANSACTIONS TABLE -->
                </div>
            </div> --}}
            <!-- END INVENTORY TRANSACTIONS GRID -->

            <!-- INVENTORY LIST GRID
                NOTES: Should only display last five items added to inventory list 
                        because hindi siya naka display: flex-->

            {{!-- <div class="Inventory-List">
                <div class="grid-content">
                    <h1 class="linked"> Inventory List </h1>

                    <table class="inventory-table">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:10%">
                        <col style="width:15%">

                        <thead>
                        <tr>
                            <th>Category</th>
                            <th>Food Group</th>
                            <th>Unit</th>
                            <th>Running Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each Category}}
                        <tr>
                            <td> {{categoryName}} </td>
                            <td> {{foodGroupName}} </td>
                            <td> {{unitName}}</td>
                            <td> {{runningTotal}}</td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div> --}}
             <!-- END INVENTORY LIST GRID -->

            </div>

        </div>

	</body>
	</html>
