<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Manager | Inventory Reports Page</title>
        <link rel="stylesheet" href="css/reportsPage.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {{>invManagerPanel}}
        
        <div class="page-container">
            <div>
                <h1 class="header-font">Inventory Reports Page</h1>
                <p>As of: {{dateToday}}<p>
                <hr class="separator">
            </div>

            <div class="search-filters">
                <div>
                    <input type="text" placeholder="Search" name="search">
                    <button type="submit"><i class="fa fa-search search-icon"></i></button>
                </div>
                
                <div class="filters">
                    <div>
                        <label for="filters">Filter By:</label>
                        <select id="filter" class="filter-dropdown" name="filter">
                            <option value="Date">Date</option>
                            <option value="Employee">Employee</option>
                        </select>
                    </div>
                    <div>
                        <label for="filters">Sort By:</label>
                        <select id="sort" class="filter-dropdown" name="sort">
                            <option value="Ascending">Ascending</option>
                            <option value="Descending">Descending</option>
                        </select>
                    </div>
                    <div>
                        <label for="filters">Type: </label>
                        <select id="type" class="filter-dropdown" name="type">
                            <option value="Missing">All</option>
                            <option value="Missing">Missing</option>
                            <option value="Spoilage">Spoilage</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-filter"></i> filter and sort</button>
                    </div>                
                </div>
            </div>
            
            <div class="inventory-container">
                <table class="inventory-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Report Type</th>
                        <th>Category Name</th>
                        <th>Amount</th>
                        <th>Employee in-Charge</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each Report}}
                    <tr>
                        <td> {{caseDate}} </td>
                        <td> {{reportType}} </td>
                        <td> {{CategoryName}} </td>
                        <td> {{amount}} </td>
                        <td> {{employeeName}} </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
