<html>
    <head>
        <title>Inventory Manager | New Category</title>
        <link rel="stylesheet" href="css/createnewCategory.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <body>

        {{>invManagerPanel}}

        <div class="content-container">

            <div class="back-area">
                     <a href="/firstPurchase" class="back-button">
                        <i class="fa-solid fa-arrow-left" style="color: rgb(79, 79, 79)"> </i> 
                     Go Back
                     </a>
            </div>  

            <div class="createnew-box">

                <h1 class="header-font">Create New Category</h1>
                <form action="/newCategory" method="post">
                <div class="field-box">
                    <div>
                        <label for="categoryname" class="field-font">Category Name:</label>
                    </div>

                    <div>
                        <input
                            type="text"
                            class="textbox-long"
                            id="categoryname"
                            name="categoryname"
                            required
                        />
                    </div>
                </div>

                <div class="field-box">
                    <div>
                        <label for="foodgroup" class="field-font">Food Group:</label>
                    </div>
                    {{#if foodGroup}}
                    <div>
                        <select name="foodgroup" id="foodgroup" class="dropdown">
                            
                            {{#each foodGroup}}
                                <option value="{{foodGroupID}}"> {{foodGroupName}} </option>
                            {{/each}}
                            
                        </select>
                    </div>
                    {{else}}
                    <div>
                        <select name="foodgroup" id="foodgroup" class="dropdown"  disabled="disabled">
                             <option> No Food Group added </option>
                        
                        </select>
                    </div>

                    {{/if}}
                    <div>
                        <a href="/createFoodGroup" class="inv-submit">Create New Food Group</a>
                    </div>
                </div>

                <div class="field-box">
                    <div>
                        <label for="netweight" class="field-font">Unit:</label>
                    </div>
                    <div>
                        <select name="netunit" id="netunit" class="dropdown">
                            {{#each unit}}
                                <option value={{unitID}}>{{unitName}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <div class = "button-placement">
                    <div>
                        <input type="submit" class="button-green popup" value="Submit"/>
                    </div>
                    <!--<div>
                        <a href="/firstPurchase" class="back popup">Back</a>
                    </div> -->
                </div>

                </form>
            </div>
        </div>
    </body>
</html>