<!DOCTYPE html>
<html>
	<head>
        <title>Owner | Dashboard</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/employeeDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
        {{>ownerPanel}}
		<!-- END SIDE PANEL -->

        <div class="content-container">
            <div class="containers">

               <!-- PROFILE GRID -->
               <div class="Profile">
                <div class="grid-content">
                    <h1> Owner Profile </h1>

                    
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-user prof-pic"></i>
                    </div>

                    <h2> {{Emp.firstName}} {{Emp.lastName}} </h2>
                    <p class="title"> Employee Name</p>

                    <h2> {{Emp.userType}} </h2>
                    <p class="title"> Position </p>

                    <h2> {{Emp.userID}} </h2>
                    <p class="title"> Employee ID </p>

                    <button class="prof-button" onclick="window.location='/changePassword';" > Change Password </button>

                </div>
            </div>
            <!-- END PROFILE GRID -->


            <!-- INVENTORY-TRANSACTIONS GRID -->
            <div class="Inventory-Transactions">
                <div class="grid-content">
                    <h1 class="linked"> Inventory List </h1>
                    <!-- START INVENTORY-LIST TABLE-->

                        <p class="report-date"> As of: {{dateToday}}</p>


                        <table class="inventory-table">
                                <col style="width:20%">
                                <col style="width:20%">
                                <col style="width:10%">
                                <col style="width:10%">
            
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Food Group</th>
                                    <th>Running Total</th>
                                    <th>Unit</th>
                                </tr>
                                </thead>
                            <tbody>
                            {{#each Category}}
                            <tr>
                                <td> {{categoryName}} </td>
                                <td> {{foodGroupName}} </td>
                                <td> {{runningTotal}}</td>
                                <td> {{unitName}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>

                        <p class="report-end"> ----- END OF LIST -----</p>
                    <!-- END INVENTORY-TRANSACTIONS TABLE -->
                </div>
            </div>
            <!-- END INVENTORY TRANSACTIONS GRID -->

            <!-- INVENTORY LIST GRID -->

            <div class="Inventory-List">
                <div class="grid-content">
                    <h1> Low Category Count </h1>

                    <p class="report-date"> As of: {{dateToday}}</p>

                    <div class="inner-grid">
                        {{#each stock}}
                            <div class="current-stock">
                            <h3> {{runningTotal}} {{unitName}}</h3>
                            <p class="item">{{categoryName}}</p>
                        </div>
                        {{/each}}
                        
                    </div>
                </div>
            </div>
             <!-- END INVENTORY LIST GRID -->

            </div>

        </div>

	</body>
	</html>