<!DOCTYPE html>
<html>
    <head>
        <title>Panel</title>
        <link rel="stylesheet" href="css/newMenuItem.css" />
        <link rel="stylesheet" href="css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>

    {{>ownerPanel}}

    <div class="content-container">
        <div class="newMenuItem-box">
            <div><span class="header-font">New Menu Item</span></div>
            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Menu Item Name</label>
                </div>
                <div>
                    <input type="text" class="textbox-long" id="itemname" name="itemname">
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="menu-group" class = "field-font">Menu Group</label>
                </div>
                <div>
                    <select name="menuGroup" id="menuGroup" class="dropdown">
                        {{each MenuGroup}}
                        <option>{{MenuGroup.menuGroupName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>


            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Ingredients</label>
                </div>
                    <table class="ingredients-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                            </tr>
                            {{each IngredientList}}
                            <tr>
                                <td>{{IngredientList.categoryName}} </td>
                                <td>{{IngredientList.unit}}</td>
                                <td>{{IngredientList.quantity}}</td>
                            </tr>
                            {{/each}}
                        </thead>
                </table>
                <div>
                    <button class="button-green">Add Ingredient</button>
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="price" class = "field-font">Price</label>
                </div>
                <div>
                    <input type="number" class="textbox-short" id="price" name="price">
                </div>
            </div>

            <div class="field-box">
                <div>
                    <label for="quantity-item" class = "field-font">Instructions (Optional)</label>
                </div>
                <div>
                    <textarea class="textarea-long" id="description" name="description"></textarea>
                </div>
            </div>
			<button class="button-green popup" onclick="myFunction()">Done
				<span class="popuptext" id="myPopup">Menu Item Added!</span>
			</button>
			<script>
				// When the user clicks on <div>, open the popup
				function myFunction() {
				  var popup = document.getElementById("myPopup");
				  popup.classList.toggle("show");
				}
			</script>
        </div>
    </div>
</div>
</body>
</html>