<!DOCTYPE html>
<html>
    <head>
        <title>Owner | New Dish</title>
        <link rel="stylesheet" href="/css/newMenuItem.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
    </head>
    <!-- Content Here -->
    <body>

    {{>ownerPanel}}

    <div class="content-container">
        <div class="newMenuItem-box">
            <div><span class="header-font">Create New Dish</span></div>
            <form action="#" method="post">
            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Dish Name</label>
                </div>
                <div>
                    <input type="text" class="textbox-long" id="itemname" name="itemname" placeholder="{{recipeName}}">
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="menu-group" class = "field-font">Menu Group</label>
                </div>
                <div>
                    <input type="text" class="textbox-long"  value="{{menuGroupName}}" disabled />
                    
                </div>
            </div>


            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Ingredients</label>
                </div>
                    <table class="ingredients-table">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Unit</th>
                                <th>Quantity</th>
                            </tr>
                            {{#each IngredientList}}
                            <tr>
                                <td>{{categoryName}} </td>
                                <td>{{unit}}</td>
                                <td>{{quantity}}</td>
                            </tr>
                            {{/each}}
                        </thead>
                </table>
                <div>
                    <button class="button-green">Add Ingredient</button>
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="price" class = "field-font">Price</label>
                </div>
                <div>
                    <input type="number" step="0.01" class="textbox-short" id="price" name="price" min="0" value="1">
                </div>
            </div>

            <div class="field-box">
                <div>
                    <label for="quantity-item" class = "field-font">Instructions (Optional)</label>
                </div>
                <div>
                    <textarea class="textarea-long" id="description" name="description"></textarea>
                </div>
            </div>
            <input type="submit" class="button-green popup" value="Submit" />
            <a href="/cancel/{{recipeID}}" class="button-green popup">Cancel</a>
			{{!-- <button class="button-green popup" onclick="myFunction()">Done
				<span class="popuptext" id="myPopup">New Dish Added!</span>
			</button> --}}
			{{!-- <script>
				// When the user clicks on <div>, open the popup
				function myFunction() {
				  var popup = document.getElementById("myPopup");
				  popup.classList.toggle("show");
				}
			</script> --}}
            </form>
        </div>
    </div>
</div>
</body>
</html>