<!DOCTYPE html>
<html>
	<head>
        <title>Owner | Dashboard</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/ownerDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

        {{>ownerPanel}}

        <div class="content-container">
            <div class="containers">

                <!-- TRANSACTION TRAIL GRID -->
                <div class="Transaction-Trail">
                    <div class="grid-content">
                        <h1 class="linked"> Transaction Trail </h1> 

                        <table>
					<col style="width:10%">
					<col style="width:15%">
					<col style="width:15%">
					<col style="width:20%">
					<col style="width:10%">
                    
					<thead>
					<tr>
						<th>Date</th>
						<th>Receipt Number</th>
						<th>Total Amount</th>
						<th>Employee In-Charge</th>
						<th> </th>
					  </tr>
					</thead>
						{{#each POS}}
					  <tr>
						<td>{{dateOfOrder}}</td>
						<td>{{POSIDno}}</td>
						<td>{{totalPrice}}</td>
						<td>{{personInCharge}}</td>
						<td><button class="button-view">View</button></td>
					  </tr>
					  {{/each}}
				</table>
                    </div>
                </div>
                <!-- TRANSACTION TRAIL GRID -->

                <!-- INVENTORY GRID -->
                <div class="Inventory">
                    <div class="grid-content">
                        <h1 class="linked"> Inventory </h1>
                        <!-- START INVENTORY TABLE
                                NOTES:  need to turn into scrollable table
                                        when rows are being added, grid only
                                        gets bigger -->
                        <table class="inventory-table">
                    <thead>
                    <tr>
                        <th>Category</th>
                        <th>Food Group</th>
                        <th>Running Total</th>
                        <th>Unit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each Category}}
                    <tr>
                        <td> {{categoryName}} </td>
                        <td> {{foodGroupName}} </td>
                        <td> {{runningTotal}}</td>
                        <td> {{unitName}}</td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                        <!-- END INVENTORY TABLE -->
                    </div>
                </div>
                <!-- END INVENTORY GRID -->

                <!-- MENU LIST GRID -->
                <div class="Menu-List">
                    <div class="grid-content">
                        <h1 class="linked"> Menu List</h1>
                <table>
                    <thead>
					<tr>
						<th>Name</th>
                    </tr>    
					</thead>
						{{#each MenuGroup}}
					  <tr>
						<td>{{MenuGroupName}}</td>
					  </tr>
					  {{/each}}
				</table>

                    </div>
                </div>
                 <!-- END MENU LIST GRID -->

                 <!-- EMPLOYEE LIST GRID-->
                <div class="Employee-List">
                    <div class="grid-content">
                        <h1>Employee List</h1>
                         <!-- START EMPLOYEE LIST TABLE
                                NOTES:  need to turn into scrollable table
                                        when rows are being added, grid only
                                        gets bigger -->
                            <table>
                                <col style="width:15%">
                                <col style="width:20%">
                                <col style="width:10%">
                    
                                <thead>
                                     <tr>
                                        <th>ID Number</th>
                                        <th>Full Name</th>
                                        <th>Position</th>
                                     </tr>
                                </thead>
                                    
                                    {{#each Employee}}
                                     <tr>
                                        <td>{{empID}}</td>
                                        <td>{{firstName}} {{lastName}}</td>
                                        <td>{{userType}}</td>
                                    </tr>
                                    {{/each}}
                            </table>
                    </div>
                </div>
                <!-- EMPLLOYEE LIST GRID-->

 
                <!-- MISSING AND SPOILAGE GRID-->
                <div class="Missing-Spoilage">
                    <div class="grid-content">
                        <h1 class="linked">Missing and Spoilage</h1>

                        <table>
					<col style="width:10%">
					<col style="width:15%">
					<col style="width:15%">
					<col style="width:20%">
					<col style="width:10%">

					<thead>
					<tr>
						<th>Date</th>
						<th>Receipt Number</th>
						<th>Item Name</th>
						<th>Quantity</th>
						<th> </th>
					  </tr>
					</thead>
						{{#each transactions}}
					  <tr>
						<td>{{buyDate}}</td>
						<td>{{transactionID}}</td>
						<td>{{ingredientName}}</td>
						<td>{{quantity}}</td>
						<td><button class="button-view">View</button></td>
					  </tr>
					  {{/each}}
				</table>
                    </div>
                </div>
                <!-- END MISSING AND SPOILAGE GRID-->

            </div>
        </div>
	</body>
</html>