<!DOCTYPE html>
<html>
	<head>
		<title>Owner | Add Ingredients to Menu</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/add-ingredient.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	</head>
	<body>

		{{>ownerPanel}}

		<div class="content-container">

			<div class="back-area">
                     <a href="/ownerMenu" class="back-button">
                        <i class="fa-solid fa-arrow-left" style="color: rgb(79, 79, 79)"> </i> 
                     Go Back
                     </a>
            </div>  

			<div class="ingredients-container">
				<div class="contents">
					<div>
						<h1 class="add-ing">Add Ingredients for Recipe {{recipe.recipeID}} of {{menugroup.menuGroupName}}</h1>
						<hr>
					</div>
					<div>
            <form action="#" method="post">
				<!-- TABLE OF TRANSACTIONS -->
				<div class = "table-container">
				    <table id="ingredientsTable">
			
					    <thead>
					    <tr>
						    <th>Category Name</th>
						    <th>Quantity</th>
					    </tr>
					    </thead>
						<tbody>
						{{!-- {{#each Ingredients}} --}}
					    <tr>
						    <td> 
								<select name="category" id="category" class="dropdown">
									{{#each Category}}
									<option value="{{categoryID}}">{{categoryName}}({{unitName}})</option>
									{{/each}}
								</select>
							</td>
						    <td> <input type="number" class="textbox-short" id="quantity" value ="0" name="quantity" step="0.01" min ="0"></td>
					    </tr>
						{{!-- {{/each}} --}}
				    </table>
                	<div class = "button-placement">
                    <div>
                        <input type="submit" class="button-green popup" value="Submit"/>
                    </div>
                    <!-- <div>
                        <a href="/newDish/:{{menugroupID}}" class="back popup">Back</a>
                    </div> -->
                	</div>
					</form>
					</div>
                </div>
			</div>

						<div class="add-row">
							<div>
								<button id="btnNewRow" class="button-green popup">Add Ingredient Row</button>
							</div>
							<div>
								<button id="btnDelete" class="delete">Delete Last Ingredient Row</button>
							</div>
						</div>

						<script>
    					$(document).ready(function() {
        					$('#btnNewRow').on('click', function(evt) {
            					evt.preventDefault();
            					$("#ingredientsTable").find('tbody')
                					.append($('<tr><td><select name="category" id="category" class="dropdown">{{#each Category}}<option value={{categoryID}} >{{categoryName}}({{unitName}})</option>{{/each}}</select></td><td> <input type="number" step="0.01" min ="0" value ="0" class="textbox-short" id="quantity" name="quantity"></td></tr>'))
        					});

							$('#btnDelete').on('click', function(evt) {
            					evt.preventDefault();
            					$("#ingredientsTable tbody tr:last").remove();
        					});
							
    					});
						</script>

		</div>
</body>
</html>

                  