<!DOCTYPE html>
<html>
	<head>
        <title>Owner | Dashboard</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/employeeDashboard.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		<!-- START SIDE PANEL -->
        {{>ownerPanel}}
		<!-- END SIDE PANEL -->

        <div class="content-container">
            <div class="containers">

               <!-- PROFILE GRID -->
               <div class="Profile">
                <div class="grid-content">
                    <h1> Owner Profile </h1>

                    
                    <div class="user-icon">
                        <i class="fa-solid fa-circle-user prof-pic"></i>
                    </div>

                    <!-- NOTES: need to insert icons/images -->
                    <h2> {{Emp.firstName}} {{Emp.lastName}} </h2>
                    <p class="title"> Employee Name</p>

                    <h2> {{Emp.userType}} </h2>
                    <p class="title"> Position </p>

                    <h2> {{Emp.userID}} </h2>
                    <p class="title"> Employee ID </p>

                    <button class="prof-button" onclick="window.location='/changePassword';" > Change Password </button>

                </div>
            </div>
            <!-- END PROFILE GRID -->

            <!-- SALES SUMMARY GRID -->
            <div class="Sales-Summary">
                <div class="grid-content">
                    <h1> Top Selling Menu Items </h1>

                    <p class="report-date"> As of: {{dateToday}}</p>

                     <div class="sales-grid">
                        <div class="top-selling">
                            <h3 class="menu-item"> Steak Rice Bowl </h3>
                            <p class="menu-details">
                                <b>Instances sold: </b>
                                40 <br> 
                                <b> Menu Group: </b>
                                Rice Bowls
                            </p>
                        </div>

                        <div class="top-selling">
                            <h3 class="menu-item"> Lasagna </h3>
                            <p class="menu-details">
                                <b>Instances sold: </b>
                                25 <br> 
                                <b> Menu Group: </b>
                                Pasta
                            </p>
                        </div>   
                        
                        <div class="top-selling">
                            <h3 class="menu-item"> Caesar's Salad </h3>
                            <p class="menu-details">
                                <b>Instances sold: </b>
                                15 <br> 
                                <b> Menu Group: </b>
                                Salad
                            </p>
                        </div>  
                    </div>
                </div>
            </div>
            <!-- END SALES SUMMARY GRID -->

            <!-- INVENTORY-TRANSACTIONS GRID -->
            <div class="Inventory-Transactions">
                <div class="grid-content">
                    <h1 class="linked"> Inventory List </h1>
                    <!-- START INVENTORY-LIST TABLE
                            NOTES: should be sorted w/ low stock items at the top 
                            To follow guidelines for Reports-->

                        <p class="report-date"> As of: {{dateToday}}</p>


                        <table class="inventory-table">
                                <col style="width:20%">
                                <col style="width:20%">
                                <col style="width:10%">
                                <col style="width:10%">
            
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Food Group</th>
                                    <th>Running Total</th>
                                    <th>Unit</th>
                                </tr>
                                </thead>
                            <tbody>
                            {{#each Category}}
                            <tr>
                                <td> {{categoryName}} </td>
                                <td> {{foodGroupName}} </td>
                                <td> {{runningTotal}}</td>
                                <td> {{unitName}}</td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>

                        <p class="report-end"> ----- END OF LIST -----</p>
                    <!-- END INVENTORY-TRANSACTIONS TABLE -->
                </div>
            </div>
            <!-- END INVENTORY TRANSACTIONS GRID -->

            <!-- INVENTORY LIST GRID
                NOTES: Should only display last five items added to inventory list 
                        because hindi siya naka display: flex-->

            <div class="Inventory-List">
                <div class="grid-content">
                    <h1> Low Category Count </h1>

                    <p class="report-date"> As of: {{dateToday}}</p>

                    <div class="inner-grid">
                        <div class="current-stock">
                            <h3> 24 </h3>
                            <p class="item">Chicken</p>
                        </div>

                        <div class="current-stock">
                            <h3> 25 </h3>
                            <p class="item">Milk</p>
                        </div>   
                        
                        <div class="current-stock">
                            <h3> 26 </h3>
                            <p class="item">Coke Sakto</p>
                        </div>  
                        
                        <div class="current-stock">
                            <h3> 27 </h3>
                            <p class="item">Pork</p>
                        </div>  
                        
                        <div class="current-stock">
                            <h3> 28 </h3>
                            <p class="item">Butter</p>
                        </div>    

                        <div class="current-stock">
                            <h3> 29 </h3>
                            <p class="item">Cheese</p>
                        </div>    

                         <div class="current-stock">
                            <h3> 30 </h3>
                            <p class="item">It's</p>
                        </div>  

                        <div class="current-stock">
                            <h3> 31 </h3>
                            <p class="item">Me</p>
                        </div>

                        <div class="current-stock">
                            <h3> 32 </h3>
                            <p class="item">Hi</p>
                        </div>    
                    </div>
                </div>
            </div>
             <!-- END INVENTORY LIST GRID -->

            </div>

        </div>

	</body>
	</html>