<!DOCTYPE html>
<html>
	<head>
		<title>Owner | Menu Ingredients</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/ingredients.css">
		<script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
	</head>
	<body>

		{{>ownerPanel}}

		<div class="content-container">

			      <div class="back-area">
                     <a href="/ownerMenu" class="back-button">
                        <i class="fa-solid fa-arrow-left" style="color: rgb(79, 79, 79)"> </i> 
                     Go Back
                     </a>
            	</div>  
			<div class="ingredients-container">
				<form action="#" method="post"><h1>Ingredients of {{RecipeName}} ({{Status}})
					<input type="submit" class="button-green popup" value="Change Status"/>
				</h1></form>

				<!-- TABLE OF TRANSACTIONS -->
				<div class = "table-container">
				    <table class="table-color">

					    <thead>
					    <tr>
						    <th>Item Name</th>
						    <th>Quantity</th>
						    <th>Unit</th>
					    </tr>
					    </thead>
						<tbody>
						{{#each ingList}}
					    <tr>
						    <td>{{categoryName}}</td>
						    <td>{{amount}}</td>
						    <td>{{unitName}}</td>
					    </tr>
						{{/each}}
						</tbody>
				    </table>
                </div>
			</div>
		</div>
	</body>
</html>