<!DOCTYPE html>
<html>
    <!-- Template from https://github.com/sparksuite/simple-html-invoice-template
    Feel free to change :)  -->

	<head>
		<meta charset="utf-8" />
		<title>Invoice</title>
        <link rel="stylesheet" href="css/invoice.css" />
	</head>

	<body>
		<div class="invoice-box">
			<table cellpadding="0" cellspacing="0">
				<tr class="top">
					<td colspan="3">
						<table>
							<tr>
								<td class="title">
									<img src="./images/design/logo.png" style="width: 20%; max-width: 300px" />
								</td>

								<td>
									POS ID #: {{POS.POSIDno}}<br />
									Date: {{POS.dateOfOrder}}<br />

								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="heading">
					<td>Item</td>
					<td>Quantity</td>
					<td>Price</td>
				</tr>

				{{#each item}}
				<tr class="item">
					<td>{{recipeName}}</td>
					<td>{{quantity}}</td>
					<td>{{price}}</td>
				</tr>
				{{/each}}

				<tr class="total">
					<td></td>
					<td></td>
					<td>Total: P{{totalPrice}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>