<!DOCTYPE html>
<html>
    <head>
        <title>Owner | New Dish</title>
        <link rel="stylesheet" href="/css/newMenuItem.css" />
        <link rel="stylesheet" href="/css/base.css" />
        <script src="https://kit.fontawesome.com/e5cabd2361.js" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    </head>
    <!-- Content Here -->
    <body>

    {{>ownerPanel}}

    <div class="content-container">


        <div class="newMenuItem-box">
            <h1 class="header-font">Create New Dish</h1>
            <p class="directions"> All fields are required to be filled in unless stated optional.</p>
            <form action="/submitDish/{{menuGroupID}}" method="post">
            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Dish Name</label>
                </div>
                <div>
                    <input type="text" class="textbox-long" id="itemname" name="itemname" placeholder="{{recipeName}}" required>
                </div>
            </div>
            <div class="field-box">
                <div>
                    <label for="menu-group" class = "field-font">Menu Group</label>
                </div>
                <div>
                    <input type="text" class="textbox-long"  value="{{menuGroupName}}" disabled />
                    
                </div>
            </div>


            <div class="field-box">
                <div>
                    <label for="search-item" class = "field-font">Ingredients</label>
                </div>
                    <table class="ingredients-table" id="ingredientsTable">
                        <thead>
					    <tr>
						    <th>Category Name</th>
						    <th>Quantity</th>
					    </tr>
					    </thead>
						<tbody>
						{{!-- {{#each Ingredients}} --}}
					    <tr>
						    <td> 
								<select name="category" id="category" class="dropdown">
									{{#each Category}}
									<option value="{{categoryID}}">{{categoryName}}({{unitName}})</option>
									{{/each}}
								</select>
							</td>
						    <td> <input type="number" class="textbox-short" id="quantity" value ="0" name="quantity" step="0.01" min ="0"></td>
					    </tr>
						{{!-- {{/each}} --}}
				    </table>
                <div class="add-row">
							<div>
								<button id="btnNewRow" class="button-green popup">Add Ingredient Row</button>
							</div>
							<div>
								<button id="btnDelete" class="delete">Delete Last Ingredient Row</button>
							</div>
						</div>
            </div>
            <div class="field-box">
                <div>
                    <label for="price" class = "field-font">Price</label>
                </div>
                <div>
                    <input type="number" step="0.01" class="textbox-short" id="price" name="price" min="0" value="1" required>
                </div>
            </div>

           
            <input type="submit" class="button-green popup" value="Submit" />
            <a href="/cancel/{{recipeID}}" class="button-red">Cancel</a>
			{{!-- <button class="button-green popup" onclick="myFunction()">Done
				<span class="popuptext" id="myPopup">New Dish Added!</span>
			</button> --}}
			{{!-- <script>
				// When the user clicks on <div>, open the popup
				function myFunction() {
				  var popup = document.getElementById("myPopup");
				  popup.classList.toggle("show");
				}
			</script> --}}
            </form>
        </div>
    </div>
    						<script>
    					$(document).ready(function() {
        					$('#btnNewRow').on('click', function(evt) {
            					evt.preventDefault();
            					$("#ingredientsTable").find('tbody')
                					.append($('<tr><td><select name="category" id="category" class="dropdown">{{#each Category}}<option value={{categoryID}} >{{categoryName}}({{unitName}})</option>{{/each}}</select></td><td> <input type="number" step="0.01" min ="0" value ="0" class="textbox-short" id="quantity" name="quantity"></td></tr>'))
        					});

							$('#btnDelete').on('click', function(evt) {
            					evt.preventDefault();
            					$("#ingredientsTable tbody tr:last").remove();
        					});
							
    					});
						</script>
</div>
</body>
</html>